<div class="register-container">
<h2>Register User</h2>

<!-- Display error or success messages -->
<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
<p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

<form (ngSubmit)="register()" #registerForm="ngForm">
  <p class="title">Register </p>
  <label for="firstname">
  <input
    type="text"
    id="firstname"
    [(ngModel)]="firstname"
    name="firstname"
    required
  />
  <span>First Name</span>
</label>
  <label for="lastname">
  <input
    type="text"
    id="lastname"
    [(ngModel)]="lastname"
    name="lastname"
    required
  />
  <span>Last Name</span>
</label>
  <label for="username">
  <input
    type="text"
    id="username"
    [(ngModel)]="username"
    name="username"
    required
  />
  <span>Username</span>
</label>
  <label for="password">
  <input
    type="password"
    id="password"
    [(ngModel)]="password"
    name="password"
    required
  />
  <span>Password</span>
</label>
  <label for="confirmPassword">
  <input
    type="password"
    id="confirmPassword"
    [(ngModel)]="confirmPassword"
    name="confirmPassword"
    required
  />
  <span>Confirm Password</span>
</label>
  <!-- Apply the 'submit-button' class to style the button -->
  <button type="submit" class="submit-button">Register</button>
</form>

<!-- Sign In Link -->
<p class="signin-link">
  Already have an account? <a routerLink="/signin">Sign In</a>
</p>
</div>
